<div id="include001">
	<div id="header">
        <img src="scoVideo/img/logo.png" />
        <div id="title1"></div>
        <div id="moduleCompleted">
            Module Completed:
            <span id="moduleCompletedYes">Yes</span>
            <span id="moduleCompletedNo">No</span>
        </div>
	</div><!--#header-->
    <div id="playerContainer">
        <div id="PLAYERPLACEHOLDER" style="width: 400px; height: 333px">
            <span id="playerPlaceHolder_loading">
                Loading
            </span>
        </div>
    </div>
	<div id="footer">

        Copyright © 2013 Kaltura Inc. All Rights Reserved.

        <div id="foundScorm">
            SCORM:
            <span id="foundScormYes">Yes</span>
            <span id="foundScormNo">No</span>
        </div>

	</div><!--footer-->
    <div id="panelNextSco">
        This module is now complete. Please move on to the next module.
        <button id="btnClosePanelNextSco" type="button">OK</button>
    </div>
</div>
